{% extends "baseAdmin.html" %}

{% block section %}


<section class="sectionPrincipales">

    <h1>REGISTRAR USUARIO</h1>

    <form action="" name="formularioRegistro">
        <div id="izquierdaFormularioRegistro">
            <p>Nombre</p><input type="text" name="nombre">
            <p>Apellido</p><input type="text" name="apellido">
            <p>Código</p><input type="text" name="codigo">
            <p>Teléfono/Móvil</p><input type="text" name="telefono">
            <p>Correo</p><input type="email" name="correo">
            <p>Rol</p>
            <div class="botonRadio">
                <p>Estudiante</p><input type="radio" name="rol" value="estudiante" class="inputRadio">
                <p>Profesor</p><input type="radio" name="rol" value="profesor" class="inputRadio">
            </div>
            
        </div>
        <div id="derechaFormularioRegistro">
            <p>Usuario</p><input type="text">
            <p>Contraseña</p><input type="password">

        </div>
        <input type="submit" class="button" value="Registrar" id="botonRegistrar">
    </form>

</section>



{% endblock %}