{% extends "baseProfesor.html" %}

{% block section %}


<section class="sectionPrincipales">

    <h1>ADMINISTRAR CURSOS</h1>

    <h1 class="buttonPequeño">MATERIAS</h1>
    
    <div class="contenedorAdminCursosProfe">
        <div class="contenedorMateriaAdminCursosProfe">
            <div class="columnaUnoContMaterAdminCursosProfe">
                <p class="pConBorde">Fisica 1</p>
                <p>Estudiante 1</p>
                <p>Estudiante 2</p>                       
            </div>
            <div class="columnaDosContMaterAdminCursosProfe">
                <p class="pConBorde">Actividad 1 <a href= ../detalleactividadProfesor> <img class="imagenDetalleActivBloc" src="/static/img/imagenBloc.png" alt="imagen detalle"> </a> </p>
                <p>Nota</p>
                <p>Retroalimentación</p>
            </div>
            <div class="columnaTresContMaterAdminCursosProfe">
                <p class="pConBorde">Actividad 2 <a href= ../detalleactividadProfesor> <img class="imagenDetalleActivBloc" src="/static/img/imagenBloc.png" alt="imagen detalle"> </a> </p>
                <p>Nota</p>
                <p>Retroalimentación</p>

            </div>
            <div class="columnaCuatroContMaterAdminCursosProfe">
                <p>Nota Definitiva</p>
                <p>Retroalimentación</p>

            </div>


        </div>
        <div class="contenedorMateriaAdminCursosProfe">
            <div class="columnaUnoContMaterAdminCursosProfe">
                <p class="pConBorde">Fisica 2</p>
                <p>Estudiante 1</p>
                <p>Estudiante 2</p> 
            </div>
            <div class="columnaDosContMaterAdminCursosProfe">
                <p class="pConBorde">Actividad 1 <a href= ../detalleactividadProfesor> <img class="imagenDetalleActivBloc" src="/static/img/imagenBloc.png" alt="imagen detalle"> </a> </p>
                <p>Nota</p>
                <p>Retroalimentación</p>

            </div>
            <div class="columnaTresContMaterAdminCursosProfe">
                <p class="pConBorde">Actividad 2 <a href= ../detalleactividadProfesor> <img class="imagenDetalleActivBloc" src="/static/img/imagenBloc.png" alt="imagen detalle"> </a> </p>
                <p>Nota</p>
                <p>Retroalimentación</p>

            </div>
            <div class="columnaCuatroContMaterAdminCursosProfe">
                <p>Nota Definitiva</p>
                <p>Retroalimentación</p>

            </div>


        </div>
        <div class="contenedorMateriaAdminCursosProfe">
            <div class="columnaUnoContMaterAdminCursosProfe">
                <p class="pConBorde">Fisica 3</p>
                <p>Estudiante 1</p>
                <p>Estudiante 2</p>
            </div>
            <div class="columnaDosContMaterAdminCursosProfe">
                <p class="pConBorde">Actividad 1 <a href= ../detalleactividadProfesor> <img class="imagenDetalleActivBloc" src="/static/img/imagenBloc.png" alt="imagen detalle"> </a> </p>
                <p>Nota</p>
                <p>Retroalimentación</p>

            </div>
            <div class="columnaTresContMaterAdminCursosProfe">
                <p class="pConBorde">Actividad 2 <a href= ../detalleactividadProfesor> <img class="imagenDetalleActivBloc" src="/static/img/imagenBloc.png" alt="imagen detalle"> </a> </p>
                <p>Nota</p>
                <p>Retroalimentación</p>

            </div>
            <div class="columnaCuatroContMaterAdminCursosProfe">
                <p>Nota Definitiva</p>
                <p>Retroalimentación</p>
            </div>


        </div>

    </div>

</section>


{% endblock %}