<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Registro de usuarios</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet">

</head>
<body class="bodyPrincipales">

    <aside class="asidePrincipal">
        <div class="asideSuperior">
            <img src="url_for('static', filename='img/fofoUsuario.png')" alt="fotoUsuario" class="fotoUsuario">
            <h1 class="usuarioAside">Admin</h1>
            <button class="button">Salir</button>
        </div>
        <div class="asideInferior">
            <h1>PANEL DE NAVEGACION</h1>

            <a href="">Administrar materias</a>
            <a href="">Buscar/Editar Información</a>
            <a href="">Registro</a>

            <button class="button">FAQ</button>
            <button class="button">Reportar Error</button>
        </div>
    
    </aside>

    <div>
        <header class="headerPrincipales">
            <div class="tituloHeader">
                <h1>PLATAFORMA SURCO - REGISTRO</h1>
            </div>
            <img src="url_for('static', filename='img/logodef.png')" alt="logo universidad" class="imgPrincipales">
        </header>

        <section class="sectionPrincipales">

            <h1>REGISTRAR USUARIO</h1>

            <form action="" name="formularioRegistro">
                <div id="izquierdaFormularioRegistro">
                    <p>Nombre</p><input type="text" name="nombre">
                    <p>Apellido</p><input type="text" name="apellido">
                    <p>Código</p><input type="text" name="codigo">
                    <p>Teléfono/Móvil</p><input type="text" name="telefono">
                    <p>Correo</p><input type="email" name="correo">
                    <p>Rol</p>
                    <div class="botonRadio">
                        <p>Estudiante</p><input type="radio" name="rol" value="estudiante" class="inputRadio">
                        <p>Profesor</p><input type="radio" name="rol" value="profesor" class="inputRadio">
                    </div>
                    
                </div>
                <div id="derechaFormularioRegistro">
                    <p>Usuario</p><input type="text">
                    <p>Contraseña</p><input type="password">

                </div>
                <input type="submit" class="button" value="Registrar" id="botonRegistrar">
            </form>

        </section>
    </div>
</body>
</html>