{% extends "base.html" %}

{% block title %} Profesor {% endblock %}

{% block content %}


<body class="bodyPrincipales">

    <aside class="asidePrincipal">
        <div class="asideSuperior">
            <img src="{{url_for('static', filename='img/fofoUsuario.png')}}" alt="fotoUsuario" class="fotoUsuario">
            <h1 class="usuarioAside" id="rolPagina">Profesor</h1>
            {% for message in get_flashed_messages() %}
            <div class="flashRol">
                <p id="flashRolP">{{message}}</p>
            </div>
            {% endfor %}
            <button class="button"> <a href= {{url_for("main.salir")}} style="color: white;"> Salir </a></button>
            
        </div>
        <div class="asideInferior">
            <h1>PANEL DE NAVEGACION</h1>

            <a href= {{url_for("main.administrarCursosProfesor")}} >Administrar materias</a>
            <a href= {{url_for("main.informacionprofesores")}} >Ver Información</a>

            <button class="button">FAQ</button>
            <button class="button">Reportar Error</button>
        </div>
    
    </aside>

    <div>
        <header class="headerPrincipales">
            <div class="tituloHeader">
                <h1>PLATAFORMA SURCO - PROFESOR</h1>
            </div>
            <img src="{{url_for('static', filename='img/logodef.png')}}" alt="logo universidad" class="imgPrincipales">
        </header>

        {% block section %}

        {% endblock %}


    </div>
</body>




{% endblock %}