{% extends "baseAdmin.html" %}

{% block section %}

<section class="sectionPrincipales">
    
    <h1>VER REGISTRO</h1>
    <p></p>
    
    <div class="contenedorAdminCursosProfe">
        <div class="contenedorMateriaAdminCursosProfe">

            
        <table class="default">

            <tr>
        
            <td><p class="pConBorde">Rol</p></td>
        
            <td><p class="pConBorde">Nombre</p></td>
        
            <td><p class="pConBorde">Apellido</p></td>

            <td><p class="pConBorde">Código</p></td>
            <td><p class="pConBorde">Teléfono</p></td>
            <td><p class="pConBorde">Correo</p></td>
        
            </tr>
        
            <tr>
        
                <td>Estudiante</td>
            
                <td>Armando</td>
            
                <td>Pereque</td>
                <td>2001001</td>
            
                <td>57 000 000 0000</td>
            
                <td>armando.pereque@estudiante.com</td>
        
            </tr>

            <tr>
        
                <td>Estudiante</td>
            
                <td>Armando</td>
            
                <td>Pereque</td>
                <td>2001001</td>
            
                <td>57 000 000 0000</td>
            
                <td>armando.pereque@estudiante.com</td>
            
            </tr>

            <tr>
        
                <td>Estudiante</td>
            
                <td>Armando</td>
            
                <td>Pereque</td>
                <td>2001001</td>
            
                <td>57 000 000 0000</td>
            
                <td>armando.pereque@estudiante.com</td>
            
            </tr>

            <tr>
        
                <td>Profesor</td>
            
                <td>Elkin</td>
            
                <td>Tosueño</td>
                <td>0000001</td>
            
                <td>57 000 000 0000</td>
            
                <td>elkin.tosueño@estudiante.com</td>
            
            </tr>
            <tr>
        
                <td>Profesor</td>
            
                <td>Elkin</td>
            
                <td>Tosueño</td>
                <td>0000001</td>
            
                <td>57 000 000 0000</td>
            
                <td>elkin.tosueño@estudiante.com</td>
            
            </tr>
        
        </table>

    </div>
    <div class="contenedorMateriaAdminCursosProfe">
        
        <p class="pConBorde"></p>
        
        <p><button class="button">BUSCAR</button></p>
        
        <p><button class="button">EDITAR</button></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
        <div class="contenedorMateriaAdminCursosProfe">
                
        <p><button class="button">EDITAR NOTAS COHORTE</button></p>
        <p><img src="url_for('static', filename='img/candadoCerrado.png')" alt="Candado cerrado" class="imgEstadoMateria"></p>
        
        </div>
        
</div>
    
</section>

{% endblock %}