{% extends "baseAdmin.html" %}

{% block section %}


<section class="sectionPrincipales">

    <h1>CREAR/EDITAR ACTIVIDADES</h1>
    <form action="" name="formularioEditarActividad" id="formularioEditarActividad">

        <div class="cajaSuperiorEditarActiv">
            <div class="contenedorDescripcionMateria">
                <p>Nombre de Curso</p>
                <p class="pConBorde">Fisica I</p>
                <p>Cupo</p>
                <p class="pConBorde">35</p>
                <p>Profesor</p>
                <p class="pConBorde">35</p>
            </div>
            <div class="contenedorActividadesEditar">
                <div></div>
                <input type="text" name="actividadUno" placeholder="Actividad1" class="pConBorde">
                <input type="text" name="actividadDos" placeholder="Actividad2" class="pConBorde">
                <input type="text" name="actividadTres" placeholder="Actividad3" class="pConBorde">
                <input type="text" name="actividadCuatro" placeholder="Actividad4" class="pConBorde">
            </div>
            <div class="contenedorNotasEditar">
                <p>PORCENTAJE DE NOTA FINAL</p>
                <input type="text" name="porcentajeActividadUnoEditar" placeholder="25%" class="pConBorde">
                <input type="text" name="porcentajeActividadUnoEditar" placeholder="25%" class="pConBorde">
                <input type="text" name="porcentajeActividadUnoEditar" placeholder="25%" class="pConBorde">
                <input type="text" name="porcentajeActividadUnoEditar" placeholder="25%" class="pConBorde">
            </div>
            <div class="contenedorVerDetallesEditar">
                <p>Ver detalles</p>
                <a href=""><img src="{{url_for('static', filename='img/imagenBloc.png')}}" alt="imagen Detalles" class="imagenBlocEditar"></a>
                <a href=""><img src="{{url_for('static', filename='img/imagenBloc.png')}}" alt="imagen Detalles" class="imagenBlocEditar"></a>
                <a href=""><img src="{{url_for('static', filename='img/imagenBloc.png')}}" alt="imagen Detalles" class="imagenBlocEditar"></a>
                <a href=""><img src="{{url_for('static', filename='img/imagenBloc.png')}}" alt="imagen Detalles" class="imagenBlocEditar"></a>
                
            </div>
            <div class="contenedorFechaEntregaEditar">
                <p>Fecha de entrega</p>
                <input type="text" name="fechaEntregaActividadUnoEditar" placeholder="05/11/2021" class="pConBorde">
                <input type="text" name="fechaEntregaActividadDosEditar" placeholder="05/11/2021" class="pConBorde">
                <input type="text" name="fechaEntregaActividadTresEditar" placeholder="05/11/2021" class="pConBorde">
                <input type="text" name="fechaEntregaActividadCuatroEditar" placeholder="05/11/2021" class="pConBorde">
            </div>
        </div>
        <div class="cajaMediaEditarActiv">
            <input type="submit" class="buttonPequeño" value="Editar" id="botonEditarActividad">
            <button class="buttonPequeño">+</button>
            <p>Total</p>
            <p class="pConBorde">100%</p>
            <div></div>
        </div>
    </form>

    <form action="" name="formularioCrearActividad" id="formularioCrearActividad">
        <div class="cajaInferiorEditarActiv">
            <div class="contenedorIzquierdoCajaInferiorEditarActiv">
                <p>Nombre de Actividad</p>
                <input type="text" class="pConBorde" name="nombreCursoCrear">
                <p>Fecha de Inicio</p>
                <input type="text" name="fechaInicioCursoCrear" class="pConBorde">
                <p>Fecha de Cierre</p>
                <input type="text" name="fechaCierreCursoCrear" class="pConBorde">
            </div>
            <div class="contenedorDerechoCajaInferiorEditarActiv">
                <p>Descripción</p>
                <input type="text" name="descripcionCursoCrear" class="pConBorde" id="cajaDescripcionEditar">
            </div>
        </div>
        <input type="submit" class="buttonPequeño" value="Guardar" id="botonGuardarCrearActividad">
    </form>

    

</section>


{% endblock %}