{% extends "baseAdmin.html" %}

{% block section %}

<section class="sectionPrincipales">

    <h1>CREAR MATERIA</h1>
    <form action="" name="formularioCrearMateria" id="formularioCrearMateria" method="post">
        {{formularioCrearMateria.hidden_tag()}}
        <div class="contenedorSuperiorCrearMateria">
            <div class="contenedorIzquierdoSuperiorCrearMateria">
                <p>Nombre del Curso</p>
                {{formularioCrearMateria.nombreMateria(placeholder="Nombre Materia", class="pConBorde")}}
                <p>Profesor</p>
                {{formularioCrearMateria.profesorMateria(placeholder="Codigo profesor", class="pConBorde")}}
            </div>
            <div class="contenedorDerechoSuperiorCrearMateria">
                <p>Toda materia incluye cuatro actividades mínimas, para editar la ponderación o agregar actividades, ver la pantalla de CREAR/EDITAR actividades.</p>

            </div>
        </div>

        <div class="botonCrearMateriaDesdeAdmin">
            
            {{formularioCrearMateria.crearMateria(id="botonCrearMateria", class="buttonPequeño")}}
        </div>

    </form>

    

</section>



{% endblock %}