{% extends "baseEstudiante.html" %}

{% block section %}


<section class="sectionPrincipales">

    <h1>DETALLE DE ACTIVIDAD</h1>

    <div class="contenedorDetalleActividad">

        <div class="contenedorDetalleActividadIzquierdo">
            <p>Nombre de Actividad</p>
            <p class="pConBorde">Actividad1</p>
            <p>Materia</p>
            <p class="pConBorde">Física 1</p>
            <p>Profesor</p>
            <p class="pConBorde">Nombre Profesor</p>
            <p>Fecha de Inicio</p>
            <p class="pConBorde">13/03/2021</p>
            <p>Fecha de Cierre</p>
            <p class="pConBorde">05/11/2021</p>
            <p>Correo de entrega</p>
            <p class="pConBorde">correo@profesor.com</p>

        </div>
        <div class="contenedorDetalleActividadDerecho">
            <p>Descripción:</p>
            <p class="pConBorde">El estudiante debe entregar módulo 1 resuelto en formato pdf al correo</p>

        </div>
    </div>
    

</section>



        

{% endblock %}