{% extends "base.html" %}

{% block title %} Sistema de administración de notas {% endblock %}

{% block content %}
<body>
    

    <header>
        <div id="logo">
            <img src="{{url_for('static', filename='img/logodef.png')}}" alt="logo universidad">
        </div>
    </header>
    <section>
        <div id="captcha">
        </div>
        <form id="login" name="login" method="post" action="">
            {{form.hidden_tag()}}
            <div id="userName" class="camposLogin">
                {{form.usuario(size=30, placeholder="Usuario")}}
            </div>
            <div id="password" class="camposLogin">
                {{form.contrasena(size=30, placeholder="Contraseña")}}
            </div>
            {% for message in get_flashed_messages() %}
            <div class="mensaje">
                <p> {{message}} </p>
            </div>
            {% endfor %}
            <div id="recordarContrasena">
                <a href="">¿Olvidó su contraseña?</a>
            </div>
            <div id="btnLogin">
                {{form.enviar()}}
            </div>


        </form>
    </section>
    <footer>

    </footer>

</body>


{% endblock %}