{% extends "baseEstudiante.html" %}

{% block section %}
<script src="{{url_for('static', filename='js/ajax.js')}}"></script>


<section class="sectionPrincipales">

    <h1>INFORMACIÓN DE ESTUDIANTE</h1>

    <div class="contenedorInformacionProfesores">
        <form action="" name="formularioEditarInfoProfesor" method="post">
            {{form.hidden_tag()}}
        <div class="contenedorIzquierdoInformacionProfesores">
            <div class="contenedorInfoProfesorEditable">
                <p>Nombre</p>
                <p class="campoEnInfo" id="campoNombreInfo"></p>
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Apellido</p>
                <p class="campoEnInfo" id="campoApellidoInfo"></p>
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Código</p>
                <p class="campoEnInfo" id="codigoEnInfo"></p>
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Teléfono Móvil</p>
                {{form.telefono(id="campoTelefonoInfo")}} 
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Correo</p>
                {{form.correo(id="campoCorreoInfo")}} 
            </div>
            <div class="guardarActualizarInfo">
                {{form.guardar}}
            </div>
            

        </div>
        </form>


        <div class="contenedorDerechoInformacionProfesores">
        
            <div class="contenedorFotoInformacion">

                <img src="{{url_for('static', filename='img/fofoUsuario.png')}}" alt="fotoUsuario" class="fotoUsuario">
                <button class="buttonPequeño">Cargar foto</button>
            </div>

            <form id="cambioContra" name="login" >
                {{formu.hidden_tag()}}
                <div class="contenedorCambiarContraseñaInfo">
                    {% for message in get_flashed_messages() %}
                    <div id="userNameCambioContra" class="camposLoginCambioContra">
                        <p id="flashRolP">{{message}}</p>
                    </div>
                    {% endfor %}
                    <div id="passwordCambioContra" class="camposLoginCambioContra">
                        {{formu.contrasena(placeholder="Digite la contraseña actual")}}
                        {{formu.contrasenaNueva(placeholder="Digite la nueva contraseña")}}
                        {{formu.contrasenaConfirmada(placeholder="Confirme la nueva contraseña")}}
                    <div id="btnLoginCambioContra">
                        {{formu.cambiar}}
                    </div>
                </div>
            </form>
        </div>
                
    </div>
    

</section>



{% endblock %}