{% extends "baseProfesor.html" %}

{% block section %}

<section class="sectionPrincipales">

    <h1>INFORMACIÓN DE PROFESOR</h1>

    <div class="contenedorInformacionProfesores">
        <form action="" name="formularioEditarInfoProfesor" method="post">
            {{form.hidden_tag()}}
        <div class="contenedorIzquierdoInformacionProfesores">
            <div class="contenedorInfoProfesorEditable">
                <p>Nombre</p>
                 {{form.nombre}}   
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Apellido</p>
                {{form.apellido}}
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Código</p>
                <p id="codigoEnInfo">0001001</p>
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Teléfono Móvil</p>
                 {{form.telefono}} 
            </div>
            <div class="contenedorInfoProfesorEditable">
                <p>Correo</p>
                 {{form.correo}} 
            </div>
            <div class="guardarActualizarInfo">
                {{form.guardar}}
            </div>
            

        </div>
        </form>


        <div class="contenedorDerechoInformacionProfesores">
        
            <div class="contenedorFotoInformacion">

                <img src="{{url_for('static', filename='img/fofoUsuario.png')}}" alt="fotoUsuario" class="fotoUsuario">
                <button class="buttonPequeño">Cargar foto</button>
            </div>

            <form id="cambioContra" name="login" >
                {{formu.hidden_tag()}}
                <div class="contenedorCambiarContraseñaInfo">
                    {% for message in get_flashed_messages() %}
                    <div id="userNameCambioContra" class="camposLoginCambioContra">
                        <p id="flashRolP">{{message}}</p>
                    </div>
                    {% endfor %}
                    <div id="passwordCambioContra" class="camposLoginCambioContra">
                        {{formu.contrasena}}
                        {{formu.contrasenaNueva}}
                        {{formu.contrasenaConfirmada}}
                    <div id="btnLoginCambioContra">
                        {{formu.cambiar}}
                    </div>
                </div>
            </form>
        </div>
                
    </div>
    

</section>


{% endblock %}