{% extends "baseEstudiante.html" %}

{% block section %}


<section class="sectionPrincipales">

    <h1>INFORMACIÓN DE ESTUDIANTE</h1>

    <div class="contenedorDetalleActividad">

        <div class="contenedorDetalleActividadIzquierdo">
            <p>Nombred</p>
            <p class="pConBorde">Armando</p>
            <p>Apellido</p>
            <p class="pConBorde">Pereque</p>
            <p>Código</p>
            <p class="pConBorde">2001001</p>
            <p>Teléfono Móvil</p>
            <p class="pConBorde">+57 000 000 0000</p>
            <p>Correo</p>
            <p class="pConBorde">admando.pereque@estudiante.com</p>
            
            <p><button class="button">Editar</button></p>
            <p></p>
            <p><button class="button">GUARDAR</button></p>
            <p></p>
        </div>
        <div class="contenedorDetalleActividadDerecho">
            <p>Descripción:</p>
            
            <section>
                <div class="asideSuperior">
                    <img src="url_for('static', filename='img/fofoUsuario.png')" alt="fotoUsuario" class="fotoUsuario">
                    <h1 class="usuarioAside">Cargar foto</h1>
                    <button class="button">Subir</button>
                </div>
                </div>
                <form id="login" name="login">
                    <div id="userName" class="camposLogin">
                        <input type="text" name="userName" placeholder="Usuario" required>
                    </div>
                    <div id="password" class="camposLogin">
                        <input type="password" name="password" placeholder="Contraseña" required>
                        <input type="password" name="password" placeholder="Contraseña Nueva" required>
                        <input type="password" name="password" placeholder="Confirmar Nueva" required>
                    <div id="btnLogin">
                        <input type="submit" value="CAMBIAR CONTRASEÑA" name="login">
                    </div>
                </form>
            </section>

        </div>
    </div>
    

</section>



{% endblock %}