{% extends "baseEstudiante.html" %}

{% block section %}

<section class="sectionPrincipales">
    <script src="{{url_for('static', filename='js/ajaxVistaEstudiantes.js')}}"></script>

    <h1>VER NOTAS</h1>

    <h1 class="buttonPequeño">MATERIAS</h1>

    <div class="cajaNotasEstudiantes">
        <div class="contenedorMateriaNotasEstudiante">
            
            <div class="materianotasEstudiante">
                <p>Materia</p>
                <div class="listaEstudiantes" id="listaParallenarDeMaterias">
                </div>                 
            </div>
            <div class="materianotasEstudiante">
                <p>Nota</p>
                <div class="listaEstudiantes" id="listaParaLlenarNotasMateria">
                </div> 
            </div>
        </div>

        <div  class="contenedorActividadesNotasEstudiante">
            <div class="actividadesnotasEstudiante">
                <p>Materia</p>
                <div class="listaEstudiantes" id="listaParallenarDeActividadesMaterias">
                </div>                 
            </div>
            <div class="actividadesnotasEstudiante">
                <p>Actividad</p>
                <div class="listaEstudiantes" id="listaParallenarDeActividades">
                </div>                 
            </div>
            <div class="actividadesnotasEstudiante">
                <p>Nota</p>
                <div class="listaEstudiantes" id="listaParallenarDeNotasActividades">
                </div> 
            </div>
            <div class="actividadesnotasEstudiante">
                <p>Retroalimentación</p>
                <div class="listaEstudiantes" id="listaParallenarDeRetroActividades">
                </div> 
            </div>


            
            
        </div>

        <div class="profesor">
            <p>PROMEDIO FINAL</p>
            <p id="promedioFinal"></p>

        </div>
        


    </div>
        

</section>



{% endblock %}