{% extends "baseEstudiante.html" %}

{% block section %}

<section class="sectionPrincipales">

    <h1>RETROALIMENTACIÓN</h1>

    <div class="contenedorDetalleActividad">

        <div class="contenedorDetalleActividadIzquierdo">
            
            <div class="cajaSuperiorEditarActiv">
                
                <div class="contenedorActividadesEditar">
                    <div></div>
                    <input type="text" name="actividadUno" placeholder="Actividad1" class="pConBorde">
                    <input type="text" name="actividadDos" placeholder="Actividad2" class="pConBorde">
                    <input type="text" name="actividadTres" placeholder="Actividad3" class="pConBorde">
                    <input type="text" name="actividadCuatro" placeholder="Actividad4" class="pConBorde">
                </div>
                <div class="contenedorNotasEditar">
                    <p>PORCENTAJE DE NOTA FINAL</p>
                    <p>25</p>
                    <p>25</p>
                    <p>25</p>
                    <p>25</p>
                </div>
                <div class="contenedorVerDetallesEditar">
                    <p>Ver detalles</p>
                    <a href=""><img src="url_for('static', filename='img/imagenBloc.png')" alt="imagen Detalles" class="imagenBlocEditar"></a>
                    <a href=""><img src="url_for('static', filename='img/imagenBloc.png')" alt="imagen Detalles" class="imagenBlocEditar"></a>
                    <a href=""><img src="url_for('static', filename='img/imagenBloc.png')" alt="imagen Detalles" class="imagenBlocEditar"></a>
                    <a href=""><img src="url_for('static', filename='img/imagenBloc.png')" alt="imagen Detalles" class="imagenBlocEditar"></a>
                    
                </div>

                <div class="contenedorVerDetallesEditar">
                    <p>RETROALIMENTACIÓN FINAL</p>
                    <p>
                    <p>El estudiante aprobó satisfactoriamente la materia. Entregó todo, felicitaciones.</p></p>
                </div>
                    <div class="contenedorDerechoCajaInferiorEditarActiv">

                        <p></p>
                        <p></p>
                        <p></p>
                                                        
                        <h1>DEFINITIVA</h1>
                        <p>
                        <h1>5.0<p><p></p>
                        </p>
                        </h1>
                        </p>
                    </div>
                    
            </div>

        </div>
        
    </div>
    
</section>



{% endblock %}